body{
    font-family: 'Montserrat';
    background: linear-gradient(skyblue, #f4f5ff, skyblue) fixed;
}
#budzet-form {
    border: 2px solid ;
    padding: 16px;
    border-radius: 8px;
    background-color: rgba(46, 204, 113, 0.15); 
}

#budzet-input {
    border: 1px solid;
}
#troskovi-form {
    border: 2px solid;
    padding: 16px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.1); 
}

#troskovi-input {
    border: 1px solid;
}

#lista-troskova{
    background: #f4f5ff; 
    box-shadow: -8px -8px 15px #f4f5ff, 8px 8px 15px #f4f5ff, -8px 8px 15px #f4f5ff, 8px -8px 15px #f4f5ff;
    border-radius: 15px;
}
#icon{
    font-size: 25px;
}
.stanje, .troskovi, .sredstva {
    font-size: 30px;
    font-weight: bold;
    word-break: break-all;
}

#sredstva-suma:after, #troskovi-suma:after, #stanje-suma:after{
    content: ' rsd';
    font-size: 20px;
    font-weight: normal;
}

#kol{
    width: 65%;
    text-align: left;
    padding-left: 25px;
    word-break: break-all;
}
.kol:before{
    content: '- ';
}
#kol1{
    width: 30%;
    text-align: left;
    word-break: break-all;
}
#kol2{
    width: 5%;
    text-align: center;
    margin: 0;
    padding: 1px 0px 0px 0px;
    cursor: pointer;
}

.edit-icon {
  font-size: 15px;
}
.delete-icon {
  font-size: 15px;
}
.expense-title {
    font-size: 14px;
}

